{% extends 'books/base.html' %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-7">
        <div class="panel panel-default">
          <div class="panel-body">

                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'books/form-template.html' %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-sucess">Submit</button>
                        </div>
                    </div>
                </form>



{% endblock %}
