body{

	//background: white url("images/2.png");
}
.jumbotron{

	background: white url("images/yellow.jpg");
}
.jumbotron-special{

	background: white url("images/purple.jpg");

}
.jumbotron-special h2{

	color:white;
}
